= render "shared/header-sub"
.user-finish-wrap
  .finish-form
    .finishWrap
      .user-infoWrap
        .user-finish__info
          ユーザー登録が完了しました。

      = form_with model: @users, local: true do |f|
        .user-login__button
          = f.submit "クレジットカード登録", class: "submit"
        .card-info
          *クレジットカードは購入の際に必要となります。
        .user-mypage__button
          = f.submit "マイページへ", class: "submit"
      -#   -# = render "devise/shared/links"
= render "shared/footer-sub"
