= render "shared/header-sub"
.resgistration-new
  .form-second
    .form-second-nav
      住所情報入力
    .form-user-wrapper
      .form-user
        = form_with model: @address, local: true do |f|
          .address
            .address__form
              = f.label :送付先お名前（全角）
              %span.form-required
                必須
              .address__form__name
                = f.text_field :first_name, autofocus: true, placeholder: "例) 山田", class: "input-default"
                = f.text_field :last_name, autofocus: true, placeholder: "例) 太郎", class: "input-default"

            .address__form
              = f.label :name_kana, "送付先お名前カナ（全角）"
              %span.form-required
                必須
              .address__form__name
                = f.text_field :first_name_kana, autofocus: true, placeholder: "例) ヤマダ", class: "input-default"
                = f.text_field :last_name_kana, autofocus: true, placeholder: "例) タロウ", class: "input-default"

            .address__zipCode
              = f.label :郵便番号
              %span.form-required
                必須
            = f.text_field :zip_code, placeholder: "例）1234567", class: "input-default"

            .address__prefecture
              = f.label :都道府県
              %span.form-required
                必須
            .prefecutre-select
              = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください")

            .address__city
              = f.label :市区町村
              %span.form-required
                必須
            = f.text_field :city, placeholder: "例）福岡市博多区", class: "input-default"

            .address__blockNumber
              = f.label :番地
              %span.form-required
                必須
            = f.text_field :block_number, placeholder: "例）中洲4-6-12", class: "input-default"

            .address__apartmentName
              = f.label :建物名
              %span.form-any
                任意
            = f.text_field :apartment_name, placeholder: "例）プラート中洲8F", class: "input-default"

            .address__phoneNumber
              = f.label :電話番号
              %span.form-any
                任意
            = f.text_field :phone_number, placeholder: "例）09012345678", class: "input-default"

            .address__button
              = f.submit "新規登録", class: "submit"

= render "shared/footer-sub"
