= render "shared/header-sub"
.mypage-wrap
  .mypage-wrap-contents
    .left-contents
      .lists-head
        .list-inner
          .list-inner__title
            = link_to "マイページ",user_path(current_user.id)
          .list-inner__title
            = link_to "出品する",new_item_path
          .list-inner__title
            = link_to "出品した商品 出品中",exhibit_users_path
          .list-inner__title
            = link_to "出品した商品 売却済み"
          .list-inner__title
            = link_to "購入した商品 過去の取引"
      .setting
        .setting__title 設定
      .lists-foot
        .list
          .list-inner__title
            - if current_user.card
              = link_to "クレジットカード詳細", card_path(current_user)
            - else
              = link_to "クレジットカード登録", new_card_path
        .list
          .list-inner__title
            - if user_signed_in?
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            - else
              = link_to "ログイン", new_user_session_path, method: :get

    .main-contents
      .Pickup-category__product__lists
      - @items.each do |item|
        = link_to item_path(item.id) do
          - if item.trading_status_id == 1 && item.user_id == current_user.id
            .Pickup-category__product__lists__list
              .Pickup-category__product__lists__list__picture
                = image_tag item.images.first.image.url, size:'220*150'
              .Pickup-category__product__lists__list__body
                .Pickup-category__product__lists__list__body__name
                  = item.name
                .Pickup-category__product__lists__list__body__details
                  %ul
                    %li= "#{item.price}円"
                    %li
                      =icon('fa','star')
                      4
                  %p（税込）

= render "shared/footer-sub"
