.Header
  .Header__inner
    .Header__inner__main
      %h1.Header__inner__main__logo
        =link_to "#" do
          = image_tag asset_path('material/logo/logo.png')
      .Header__inner__main__search
        %form{:action => "#"}
          %input.Header__inner__main__search__input{:placeholder => "キーワードから探す"}
          %button{type: "submit"}
            .Header__inner__main__search__icon
              = image_tag asset_path("material/icon/icon-search 1.png")
    .Header__inner__nav
      %ul.Header__inner__nav__left
        %li.Header__inner__nav__left__category
          = link_to "#", id: "catBtn" do
            カテゴリー
          .Header__inner__nav__left__category__tree
            %ul.Header__inner__nav__left__category__tree__category-tree
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "1" do
                  レディース
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "2" do
                  メンズ
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "3" do
                  ベビー・キッズ
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "4" do
                  インテリア・住まい・小物
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "5" do
                  本・音楽・ゲーム
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "6" do
                  おもちゃ・ホビー・グッズ
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "7" do
                  コスメ・香水・美容
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "8" do
                  家電・スマホ・カメラ
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "9" do
                  スポーツ・レジャー
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "10" do
                  ハンドメイド
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "11" do
                  チケット
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "12" do
                  自動車・オートバイ
              %li.Header__inner__nav__left__category__tree__category-tree__item
                =link_to "#", id: "13" do
                  その他
        %li.Header__inner__nav__left__brand
          = link_to "#", id: "brandBtn" do
            ブランド
      %ul.Header__inner__nav__right
        -if user_signed_in?
          = link_to "新規投稿", new_item_path
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          = link_to "ログイン", new_user_session_path
          = link_to "新規会員登録", new_user_registration_path
        
      
z