= render "shared/header-sub"

.user-signIn-wrap
  .signIn-form
    .inputWrap
      .user-sigUpWrap
        .user-signUp__info
          アカウントをお持ちでない方はこちら
        .user-signUp__button
          新規会員登録

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .user-signUp__email
          = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス", class: "input-default"

        .user-signUp__password
          = f.password_field :password, autocomplete: "current-password",placeholder: "パスワード", class: "input-default"

        .user-login__button
          = f.submit "ログイン", class: "submit"
          
= render "shared/footer-sub"
