.search-result-wrap
  .search-result-container
    .search-result-header
      検索結果
    .search-result-number
      １- 100件表示
    .search-result-items
      .search-result-items-inner
        .serach-result-items-row
          .Pickup-category__product__lists
            - @items.each do |item|
              = link_to item_path(item.id) do
                .Pickup-category__product__lists__list
                  .Pickup-category__product__lists__list__picture
                    = image_tag item.images.first.src.url, size:'220*150'
                  .Pickup-category__product__lists__list__body
                    .Pickup-category__product__lists__list__body__name
                      = item.name
                    .Pickup-category__product__lists__list__body__details
                      %ul
                        %li= "#{item.price}円"
                        %li
                          =icon('fa','star')
                          4
                      %p（税込）
                      - if item.trading_status == 2
                        .item-sold-out-box
                          .item-sold-out-box__inner
                            SOLD
