.all-warp
  .l-search-wrap
    .sort-menu
      = search_form_for(@q, url:search_index_items_path, html: { method: :post}) do |f|
        %label
          = icon("fas", "angle-down", class: "icon-down")
          = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} )
          -# JSを使った実装を一度コメントアウト
          -# %select{name: :sort, class: "sort-order"}
          -#   %option{value: "location.pathname", name: "location.pathname"}  並び替え
          -#   %option{value: "price-asc"}  価格の安い順
          -#   %option{value: "price-desc"}  価格の高い順
          -#   %option{value: "created_at-desc"}  出品の新しい順
          -#   %option{value: "likes-desc"}  いいね！の多い順

    .detail-search-wrap
      = search_form_for(@q, url:search_index_items_path) do |f|

        .head-text
          詳細検索
          .search-form-keyword
            %label
              = icon("fas", "plus", class: "icon-plus")
              キーワードを追加する（検索する）
              = f.text_field :name_cont, placeholder: "例）値下げ", class: "input-default-search"

        .search-form
          %label
            = icon("fas", "list", class: "icon-list")
            カテゴリを選択する
            = icon("fas", "angle-down", class: "icon-down-category")
            .products_new-product_explanation__category--box
              = f.collection_select :category_id_eq, @parents, :id, :name, { include_blank: "すべて", selected:"" }, id: "category_form"

        .search-form-extend-brand
          %label
            = icon("fas", "tag", class: "icon-tag")
            ブランド名から探す
            %input{type: "text", placeholder: "例）シャネル", class: "input-default-search"}

        .search-form
          %label
            = icon("fas", "expand", class: "icon-expand")
            サイズを指定する
            = icon("fas", "angle-down", class: "icon-down")

            %select{name: "size"}
              %option{value: "0"}  すべて

        .search-form-price
          = icon("fas", "coins", class: "icon-coins")
          = f.label :price, '価格'
          = icon("fas", "angle-down", class: "icon-down")
          = select_tag :price_range, options_from_collection_for_select(PriceRange.all, :id, :name), { prompt: "選択してください" }
          = f.number_field :price_gteq, placeholder: "¥ Min", class: "price-range__input"
          〜
          = f.number_field :price_lteq, placeholder: "¥ Max", class: "price-range__input"

        .search-form-status
          = icon("fas", "star", class: "icon-star")
          = f.label :status_id, "商品の状態"
          .status-checkbox-all__btn
            %input{type: 'checkbox', id: "status_all", class: "js-status-all"}
            .status-checkbox-all__label
              = label_tag :status_all, "すべて"
          = f.collection_check_boxes :status_id_in, Status.all, :id, :name, include_hidden: false do |s|
            .status-check-box
              .status-checkbox-each-box
                = s.check_box
              .status-checbox-each-title
                = s.label {s.text}

        .search-form-delivery-charge
          = icon("fas", "truck", class: "icon-truck")
          = f.label :derivery_charge_id, "配送料の負担"
          .delivery-charge-checkbox-all__btn
            %input{type: 'checkbox', id:  "delivery_charge_all", class: "js-delivery-charge-all"}
            .delivery-charege-all__label
              = label_tag :delivery_charge_all, "すべて"
          = f.collection_check_boxes :delivery_charge_id_in, DeliveryCharge.all, :id, :name,include_hidden: false do |d|
            .delivery-charege-check-box
              .delivery-charge-checkbox-each-box
                = d.check_box
              .delivery-charege-checbox-each-title
                = d.label {d.text}

        .search-form-trading-status
          = icon("fas", "shopping-cart", class: "icon-cart")
          = f.label :trading_status_id,  "販売状況"
          .trading-status-checkbox-all__btn
            %input{type: 'checkbox', id:  "trading_status_all", class: "js-trading-status-all"}
            .delivery-charege-all__label
              = label_tag :trading_status_all, "すべて"
          = f.collection_check_boxes :trading_status_in, TradingStatus.all, :id, :name,include_hidden: false do |t|
            .tradig-status-check-box
              .trading-status-checkbox-each-box
                = t.check_box
              .trading-status-checbox-each-title
                = t.label {t.text}


        .btn-wrap
          .btn-inner
            .btn-clear
              .btn-text
                = f.submit "クリア", class: "btn-text-clear", id: "js_search_clear"
            .btn-complete
              .btn-text
                = f.submit "完了", class: "btn-text-complete"
