.wrapper
  = render "shared/header"
  = render "main"
  = render "shared/footer"
  = link_to new_item_path do
    .item-icon-wrap
      .item-icon-wrap__inner
        .item-icon-wrap__inner--text
          出品する
        = icon('fas', 'camera', class:'item-icon')
