.wrapper
  = render "shared/header"
  = render "main"
  = render "shared/footer"
  .item-icon-wrap
    .item-icon-wrap__inner
      .item-icon-wrap__inner--text
        = link_to "出品する", new_item_path
      = icon('fas', 'camera', class:'item-icon')
