= render "shared/header"
.show-main
  .show-wrapper
    .show-contents
      .show-contents__topContent
        .show-itemBox
          %h2.show-itemBox__name
            = @item.name
          .show-itemBox__photo
            %ul
              %li
                = image_tag @item.images.first.src.url, alt: '出品写真', height: '346px', width: '80%'
                - if @item.trading_status_id == 2
                  .item-sold-out-box-show
                    .item-sold-out-box-show__inner
                      SOLD
          .show-itemBox__photo__inner-photo
            .show-itemBox__photo__inner-photo__under-photo
              = image_tag @item.images.first.src.url, alt: '出品写真', height: '80px', width: '80%', class: 'image-sub'
          .show-itemBox__price
            %span
              = "¥#{@item.price}"
            .show-itemBox__price__tax
              %span
                (税込)
              %span
                送料込み
          - if @item.trading_status == 1
            - if user_signed_in?
              - if current_user.id == @item.user_id
                = link_to "商品を削除する", item_path(@item), method: :delete, class:"snow-itemBox__buyscreen"
                = link_to "商品を編集する", "#", method: :edit, class:"snow-itemBox__buyscreen"
              - elsif current_user.id != @item.user_id
                = link_to "購入確認画面に進む", "/items/#{@item.id}/purchase", method: :get, class:"snow-itemBox__buyscreen"
          - else
            .item-sold-out
              売り切れました
          .show-itemBox__description
            = @item.description
          .show-itemBox__table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    = @user.nickname
                %tr
                  %th カテゴリー
                  %td
                    - @categories.each do |parent|
                      - parent.children.each do |child|
                        - child.children.each do |grandchild|
                          -if @item.category_id == grandchild.id
                            = link_to '#' do
                              = parent.name
                            %br
                            = link_to '#' do
                              = child.name
                            %br
                            =link_to '#' do
                              = grandchild.name
                            %br
                %tr
                  %th ブランド
                  %td
                    = link_to "#{@item.brand}", "#"
                %tr
                  %th 商品の状態
                  %td
                    = @item.status.name
                %tr
                  %th 配送料の負担
                  %td
                    = @item.delivery_charge.name
                %tr
                  %th 配送元の地域
                  %td
                    = link_to "#{@item.prefecture.name}", "#"
                %tr
                  %th 発送日の目安
                  %td
                    = @item.delivery_date.name

          .optionalArea
            %ul
              %li.optionalBtnlikebtn
                お気に入り
            %ul.optional
              %li.optionalBtn
                不適切な商品の通報
= render "shared/footer"
