= render "shared/header-sub"

.mypage-wrap
  .mypage-wrap-contents
    .left-contents
      .lists-head
        .list-inner
          .list-inner__title
            = link_to "マイページ",user_path(current_user.id)
          .list-inner__title
            = link_to "出品する",new_item_path
            -# root_path 仮置き
          .list-inner__title
            = link_to "出品した商品 出品中",root_path
          .list-inner__title
            = link_to "出品した商品 売却済み",root_path
          .list-inner__title
            = link_to "購入した商品 過去の取引",root_path
      .setting
        .setting__title 設定
      .lists-foot
        .list
          .list-inner__title
            - if current_user.card
              = link_to "クレジットカード詳細", card_path(current_user)
            - else
              = link_to "クレジットカード登録", new_card_path
        .list
          .list-inner__title
            - if user_signed_in?
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            - else
              = link_to "ログイン", new_user_session_path, method: :get

    .card-detail-warp
      .card-detail-inner
        .card-detail-header
          登録クレジットカード情報
        .card-detail-inner-wrap
          .card-detail-contents
            .card-detail-contents-inner
              .card-detail-contents-inner__content
                = "**** **** **** " + @default_card_information.last4
              .card-detail-contents-inner__exp
                有効期限
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
              = image_tag asset_path("cards_icon/#{@card_src}")
              .card-detail-contents-inner__delete-btn
                = form_with(url:delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do |f|
                  %input{ type: "hidden", name: "card_id", value: "" }
                  = f.submit "削除する",{class:"card-delete-btn"}


= render "shared/footer-sub"
